<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!--lINK CSS DE BOOSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <title>inicio</title>
  <style>
    img{
      width: auto;
      height: 400px;
    }
  </style>
</head>

<body>


<!--FORMULARIO Iniciar seion-->


<div class="card m-5">
  <h5 class="card-header">INICIAR SESION </h5>
  <div class="card-body">
    <form action="autenticar" method="POST">
      <div class="form-group">
        <label for="correoElectronicoUsuario" class="form-label p-1">Número de celular o correo electronico:</label>
        <input type="text" class="form-control" id="correoElectronicoUsuario" name="correoElectronicoUsuario" value="<% if(typeof valoresInicio != 'undefined') { %><%= valoresInicio.Nombre %><%}%>">
        
        <label for="contraseñaUsuario" class="form-label p-1">contraseña:</label>
        <input type="password" class="form-control" id="contraseñaUsuario" name="contraseñaUsuario" value="<% if(typeof valoresInicio != 'undefined') { %><%= valoresInicio.Nombre %><%}%>">

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark p-1 mt-5">INGRESAR</button>
        <p>¿Has olvidado tu contraseña?</p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark p-1 mt-5"><i class="bi bi-google"></i></button>

        <button type="submit" class="btn btn-outline-dark p-1 mt-5"><i class="bi bi-facebook"></i></button>
      </div>


    </form>
  </div>
  <div>
    <% if(typeof validacionesInicio !='undefined' ){%>
      <% validacionesInicio.forEach((validacionesInicio)=>{%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>
            <%= validacionesInicio.msg %>
          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>




        <%})}%>
  </div>
</div>






  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script> <!--lINKS SCRIPS DE BOOSTRAP-->
</body>

</html>